body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;
    width: 130px;
}

input[type="text"],
input[type="date"],
button[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="date"] {
    width: 200px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0062cc;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#results div {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}

#results h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#results p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

#results p:last-child {
    margin-bottom: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-btn:hover {
    background-color: #0062cc;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.dropdown-content p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.background-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: opacity 0.3s;
    pointer-events: none;
}

.background-transition.active {
    opacity: 1;
    pointer-events: auto;
}
